

/* Global styling */
body {
    background-image: url(../images/gingham_pattern_blue_background.jpg);
    background-size: cover;
    /*to make sure the image is not too big*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  img {
    width: 100%;   
    height: auto;
      
  }
  

/* Navbar */


/* Header */
#header #introduction{
  background-color: white;
}

/* Categories */
.card{
  width: 18rem;
}

