/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Pinyon+Script&family=Playwrite+CA+Guides&family=Rochester&display=swap');


/* Global styling */

/* CSS Variables */
:root{
  --primary-font: "Libre Caslon Display", serif;
  --secondary-font: "Pinyon Script", serif;
  --baby-blue: #B1D5ED; 
  --darker-blue: #7cb6dc; 
  --baby-pink: #e3c0c6; 
  --raspberry: #B15C83; 
  --beige: #d8b5a7;
  --vert: #9dc2a3; 
  --white: white;
}

body {
  background-image: url(../images/flowers-7122856_1280.jpg);
  background-size: cover;
  /*to make sure the background image is not too big*/
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--primary-font);
}

#header,
#categories {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 12px;
  /*Round corners*/
  background-color: var(--vert);
  padding-bottom: 2rem;
  padding-top: 1rem;
}




/* Navbar */
#navigation {
  background-color: var(--baby-pink);
}

.navbar-brand{
  font-family: var(--secondary-font);
}




/* Header */

#header img {
  max-width: 100%;
  height: auto;
}

#header h1 {
  font-family: var(--secondary-font);
}

#header a{
  color: var(--white);
}

#header a:hover{
  color: var(--raspberry);
}




/* Categories */

.card {
  width: 18rem;
  padding-top: 12px;
}

.card-img-top{
  height: 200px; 
  object-fit: cover; 
}

.card a{
  background-color: var(--baby-pink);
  border-color: var(--raspberry);
  color: var(--raspberry);
}

.card a:hover{
  background-color: var(--raspberry);
  border-color: var(--raspberry);
  color: var(--baby-pink);
}



/* Footer */

footer {
  background-color: var(--baby-pink);
  padding: 3rem;
}

#footer a{
  color: var(--raspberry);
}

#footer a:hover{
  color: white;
}





/* Media query */

@media (min-width: 768px) {

  #categories,
  #header {
    max-width: 70%;
    /* More narrow on larger screens to show more background*/
  }
}